{% extends "BlogBundle::base.html.twig" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Symfony Blog</h1>
        </div>

        <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('blog_category', {'categorySlug': category.slug}) }}">
                    {{ category.title }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <hr>

        <h2>Les 3 derniers articles</h2>
        {% include "BlogBundle:Blog:_post_list.html.twig" with {'posts': posts} %}
    </div>
{% endblock %}
